@font-face {
  font-family: 'YS Text';
  src: url('./YS Text-Bold.woff2') format('woff2');
  src: url('./YS Text-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

.FontYsText_bold {
  font-family: 'YS Text', sans-serif;
}
